/* Navbar */
.navbar {
    background-color: #FFF8DC;
}
.product-card{
    height:500px;
}

/* Card */
.card {
    background-color: #FFF8DC;
}

/* Footer */
footer a {
    position: relative;
    color: #333;
    text-decoration: none;
}

footer a:hover {
    color: black;
}

/* Button Hover */
.btn-warning {
    transition: 0.3s;
}

.btn-warning:hover {
    background-color: #d89d00;
    border-color: #d89d00;
}
